---
---

@import "{{ site.theme }}";
body, header h1, h1, h2, h3 {font-family: trebuchet ms !important}
header h1 {font-variant: small-caps; margin-left:0 !important}

.highlight .c1 {color: #007b05 !important}
.highlight .o {color: #525252 !important; font-weight: normal !important}
.highlight .s1 {color: #00038a !important}
.highlight .s2 {color: #00038a !important}
.highlight .m {color: #00038a !important}
.highlight .k, .highlight .kv {color: #ad0086 !important; font-weight: normal !important}
.highlight .kc {color: #5b66bf !important}
.highlight .nf, .highlight .nb {color: #000 !important; font-weight: normal !important}
.highlight pre {background: #eaeaea !important; border: 2px solid #adadad !important}
